body {
	font-family:fantasy;
}

canvas {
	border: 2px solid black;
	margin-top: 16em;
	margin-left: auto;
    margin-right: auto;
	display: block;		
}

#score{
	text-align:center;
}

.bottom {
	position: fixed;
    left: 0; 
	bottom: 0; 
    color: #fff; 
    width: 100%;
	font-size: 1em;
	background-color: green;
	text-align: center-left;
}

.logo {
	margin-top: 1em;
    margin-left: 13%;
	width: 10%;
}

.picture {
	width: 60%;
	
}

.text {
	text-align: center;
}

.menu {
    position: absolute;
    left: 0; 
	top: 0; 
	width: 100%;
	background-color: #82E28C; 
}

#navbar {
	cursor: pointer;
	margin-left: 5%;
	padding: 0;
	list-style-type: none;
	border: 2px solid black;
	width: 90%;
	text-align: center;
	background-color: #FFF;
}

#navbar li { 
	display: inline;
 }
 
#navbar a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 23%;
	font-size: 2em;
}

#navbar a:hover {
    background-color: #CFCFCF;
}

.main-title {
	font-size: 1.5rem;
	background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%)
}

main {
	margin-top: 16em;
}