body {
	font-family:fantasy;
}

.bottom {
	position: fixed;
    left: 0;
	bottom: 0; 
    color: #fff; 
    width: 100%;
	font-size: 1em;
	background-color: green;
	text-align: center-left;
}

.logo {
	margin-top: 1em;
    margin-left: 13%;
	width: 10%;
}

#reg {
	text-align: center;
	font-size: 3em;
	margin-top: 6em;
	margin-left: 30%;
	width: 40%;
	height: 6em;
	background-color: #82E28C; 
}

#reg label {
	font-size: 1em;
	margin-left: 5%;
	width: 80%;
}

#reg input {
	font-size: 1em;
	margin-left: 5%;
	margin-top: 5%;
	width: 80%;
}

#reg button {
	font-size: 1em;
	margin-left: 5%;
	margin-top: 5%;
	width: 60%;
}

.menu {
    position: fixed;
    left: 0;
	top: 0; 
	width: 100%;
	background-color: #82E28C; 
}

#navbar {
	cursor: pointer;
	margin-left: 5%;
	padding: 0;
	list-style-type: none;
	border: 2px solid black;
	width: 90%;
	text-align: center;
	background-color: #FFF;
}

#navbar li { 
	display: inline;
 }
 
#navbar a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 23%;
	font-size: 2em;
}

#navbar a:hover {
    background-color: #CFCFCF;
}